
/*==================================================================
  /*Asignar permisos*/
#flecha
{
    width: 50px;
    height: 50px;
    margin: 1em 0 1em 1em;
    border: none;
    padding: 1px 0 15px;
}
.selectpicker {
    display: block;
    font-size: 14px;
    font-family: 'Arial', sans-serif; 
    box-sizing: border-box;
    margin: 0 px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

}


button{

 padding: 10px 40px;
 font-size: 15px;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 outline: none;
 color: #fff;
 background-color: #0a5c71;
 border: none;
 border-radius: 5px;
 margin: 1em 0 1em 20em;
 
}



h3 {
    text-align: center;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;   
}
        
label {
        font-size: 20px;
        color: #252b2c;
        font-family: serif;
    
    }

form {
        width: 100%;
        margin: 10px 0;
        height: 400px;
        padding: 10px;
        background: rgb(186, 211, 231);
        overflow: hidden;
        box-shadow: 0 0 3px grey;
       
     
    }
 
    * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
     
    body {
        font-size: 16px;
        background-color: #2c3e50;
        font-family: "Roboto";
    }

     
    .wrap {
        width: 100%;
        max-width: 1000px;
        margin: 0 10px;
        margin: auto;
        
    }
     
    .formulario h2 {
        margin-bottom: 20px;
        margin-left: 20px;
        font-size: 20px;
        color: #252b2c;
        font-family: serif;

    }
     
    .formulario > div {
        padding: 20px 0;
        border-bottom: 1px solid #ccc;
    }

    .formulario input[type="checkbox"]{
        display: none;
    }

    .formulario .checkbox label{
    color:#0074D9;
    background: rgba(0,0,0,.1);
    padding: 5px 15px 5px 51px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    }
    .formulario .checkbox label:hover{
        background: rgba(0,116,21,0.2);
    }

    .formulario .checkbox label::before{
        content: "";
        width: 17px;
        height: 17px;
        display: inline-block;
        background: none;
        border:3px solid #0774D9;
        border-radius: 50%;
        position: absolute;
        left: 17px;
        top:4px;

    }

    .formulario input[type="checkbox"]:checked + label{
        padding: 5px 15px;
        background:#0774D9;
        border-radius: 2px;
        color: #fff;

    }
    .formulario input[type="checkbox"]:checked + label::before{
        display: none;

    }