  /*Asignar permisos*/
  #flecha
  {
      width: 50px;
      height: 50px;
      margin: 1em 0 1em 3em;
      border: none;
  }

h2 {
  text-align: center;
  margin: 40px 0 40px;
  text-align: center;
  font-size: 30px;
  color: #ecf0f1;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Cherry Swash', cursive;
    
  }



input[type="submit"],
form button
{
 display: inline-block;
 padding: 5px 10px;
 font-size: 10px;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 color: #fff;
 outline: none;
 background-color: #0a5c71;
 border: none;
 border-radius: 5px;
 
}

body{
	background: #2c3e50;
  font-family: Arial;
}

#main-container{
	margin: 150px auto;
	width: 600px;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}




       


