#flecha
{
    width: 50px;
    height: 50px;
    margin: 1em 0 1em 1em;
    border: none;
    padding: 1px 0 15px;
}
  h2 {
    font-family:times new roman;
  
    font-style:italic;
    font-weight:bold;
    text-align: center;
     font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;   

    
  }

body {
    background: #2c3e50;
   font-size: l6px;
   font-family: "Pboto", Arial, sans-serif, helvetica;

}

form {
   width: 100%;
   margin: 10px 0;
   padding: 10px;
   background: #fff;
   overflow: hidden;
   box-shadow: 0 0 3px grey;
}

form input[type="text"],
form input[type="email"],

form textarea{
   border: 1px solid #536DFE;
   border-radius: 6px;
   padding: 6px;
   width: 100%;
   display: block;
   margin-bottom: 15px;
   font-family: "Roboto", Arial, sans-serif, helvetica;
   font-size: 1em;
   color: #141938;
   background-color: #AAD1DE;


}
form input[type="text"]:focus,
form input[type="email"]:focus,


form textarea:focus{
   border: 2px solid #3F51B5;
   padding: 8px;
}

form input[type="button"],
form button
{
 display: inline-block;
 padding: 5px 10px;
 font-size: 15px;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 outline: none;
 color: #fff;
 background-color: #0a5c71;
 border: none;
 border-radius: 10px;
 box-shadow: 0 9px #999;
}


       

       




