  /*Asignar permisos*/
  #fle
  {
      width: 50px;
      height: 50px;
      margin: 1em 0 1em 3em;
      border: none;
  }


nav {
    margin: 27px auto 0;
    position: relative;
    width: 1000px;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
}
nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}
nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}
a:nth-child(1) {
    width: 200px;
}
a:nth-child(2) {
    width: 250px;
}
a:nth-child(3) {
    width: 250px;
}
a:nth-child(4) {
    width: 200px;
}
a:nth-child(5) {
    width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation {
    width: 200px;
    left: 0;
    background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
    width: 250px;
    left: 200px;
    background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
    width: 250px;
    left: 450px;
    background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
    width: 200px;
    left: 700px;
    background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
    width: 100px;
    left: 900px;
    background-color: #e67e22;
}

body {
    font-size: 12px;
    font-family: sans-serif;
    background: #2c3e50;
    
}
h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

span {
    color: #2BD6B4;

}

img 
{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0, 204, 194);
    padding: 0.5em;
    margin: 1em 0 1em 15em;
}
a  {
    color: rgb(0, 204, 194);
    text-decoration: none;
    font-size: 1.2em;
    
}


