

 #cancelar{

  padding: 10px 40px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0a5c71;
  border: none;
  border-radius: 5px;
  margin: 1em 0 1em 10em;

 }
 
 #guardar{

  padding: 10px 40px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0a7124;
  border: none;
  border-radius: 5px;
  margin: 1em 0 1em 10em;

 }
 
 
 h3 {
     text-align: center;
     font-size: 30px;
     color: #ecf0f1;
     text-shadow: 2px 2px 4px #000000;
     font-family: 'Cherry Swash', cursive;   
 }
         
 label {
         font-size: 20px;
         color: #252b2c;
         font-family: serif;
     
     }
 
 form {
         width: 100%;
         margin: 10px 0;
         height: 400px;
         padding: 10px;
         background: rgb(186, 211, 231);
         overflow: hidden;
         box-shadow: 0 0 3px grey;
        
      
     }
  
     * {
         box-sizing: border-box;
         -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
         margin: 0;
         padding: 0;
     }
      
     body {
         font-size: 16px;
         background-color: #2c3e50;
         font-family: "Roboto";
     }
 
      
     .wrap {
         width: 100%;
         max-width: 1000px;
         margin: 0 10px;
         margin: auto;
         
     }
    
      
  